<html>
  <head>
    <title>Page Potin</title>
  </head>

  <body>
    <h1>Voici la page du potin n° <%= params[:id] %></h1>

    <p>Son auteur : <%= gossip.author %><br/>
      Le contenu du potin : <%= gossip.content %><br/>
      
      <a href='/'>Lien</a> pour revenir à la page des potins
    </p>

    
  </body>
</html>